$headers: 'Unica One', sans-serif;
$copy: 'Vollkorn', serif;

body {
  color: $black-70;
  font-family: $copy;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers;
  margin: 0;
}

a {
  color: $black-70;
  outline: none;
  text-decoration: none;
}

h1 {
  font-size: 2.4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin: 1rem 0 0;

  a {
    border-bottom: 1px solid $black-20;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
