$headers: 'Unica One', sans-serif;
$copy: 'Vollkorn', serif;

body {
  color: $black-70;
  font-family: $copy;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers;
  margin: 0;
}

a {
  border-bottom: 1px solid $black-20;
  color: $black-70;
  display: inline-block;
  position: relative;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  vertical-align: bottom;
  &:before {
    background:  $black-05;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    transform: translateY(100%);
    transition: all 0.2s;
    width: 100%;
    z-index: -1;
  }
  &:hover {
    &:before {
      transform: translateY(0);
    }
  }
}

h1 {
  font-size: 2.4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin: 1rem 0 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
