$headers: 'Georgia', serif;
$copy: 'Georgia', serif;

body {
  color: $black-70;
  font-family: $copy;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers;
  margin: 0;
}

a {
  color: $black-70;
  outline: none;
  text-decoration: none;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem 0 0;
}

h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 2rem 0 0;
}

p {
  font-size: 2rem;
  line-height: 1.5;
  margin: 2rem 0 0;

  a {
    border-bottom: 1px solid $black-20;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

code {
  background: $black-05;
  border: 1px solid $black-10;
  border-radius: 2px;
  font-family: monospace;
  padding: 3px;
}
