<meta charset="UTF-8" />
<meta name="author" content="{{ author }}" />
<meta name="description" content="{{ description }}" />

<meta name="viewport" content="width=device-width" />

<meta property="fb:admins" content="{{ fb_admin }}" />
<meta property="og:title" content="{{ title }}"/>
<meta property="og:url" content="{{ url }}"/>
<meta property="og:image" content="" />

<meta property="og:site_name" content="{{ title }}"/>
<meta property="og:description" content="{{ description }}"/>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:image:src" content="" />
<meta name="twitter:url" content="{{ url }}" />
<meta name="twitter:site" content="{{ twitter_user }}" />
<meta name="twitter:creator" content="{{ twitter_user }}" />

<title>{{ title }}</title>
<link href='https://fonts.googleapis.com/css?family=Unica+One|Vollkorn:400,400italic' rel='stylesheet' type='text/css'>
