<section class="c-social">
  <div class="c-social__links-container">
    <a class="c-social__link" href="http://github.com/jakelear"><img class="c-social__icon" src="assets/svg/github.svg" alt="github" /></a>
    <a class="c-social__link" href="http://twitter.com/jakelear"><img class="c-social__icon" src="assets/svg/twitter.svg" alt="twitter" /></a>
    <a class="c-social__link" href="http://linkedin.com/in/jacoblear"><img class="c-social__icon" src="assets/svg/linkedin.svg" alt="linkedin" /></a>
    <a class="c-social__link" href="http://instagram.com/jakelear1/"><img class="c-social__icon" src="assets/svg/instagram.svg" alt="instagram" /></a>
  </div>
</section>
