$c: '.c-article';

#{$c} {
  margin: 8rem 0;
  position: relative;

  h1 {
    text-align: center;
    font-size: 2.8rem;
  }

  img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
  }

  .gist {
    margin: 2rem auto
  }
}

#{$c}__date {
  color: $black-50;
  display: block;
  font-size: 1.6rem;
  margin: 1.2rem 0;
  text-align: center;
}

#{$c} #{$c}__illo {
  margin: 3rem auto;
}
